# {{ ansible_managed }}

################################ INCLUDES ######################################

{% if redis_include is defined %}
{% for item in redis_include %}
include {{ item }}
{% endfor %}
{% endif %}

################################ GENERAL  ######################################

daemonize {{ redis_daemonize }}
pidfile {{ redis_pidfile }}
port {{ redis_port }}
{% if redis_bind is defined %}
bind {{ redis_bind }}
{% endif %}
{% if (redis_version | float) >= 3.0 %}
tcp-backlog {{ redis_tcp_backlog }}
{% endif %}
{% if redis_unixsocket is defined %}
unixsocket {{ redis_unixsocket }}
{% endif %}
{% if redis_unixsocketperm is defined %}
unixsocketperm {{ redis_unixsocketperm }}
{% endif %}
timeout {{ redis_timeout }}
{% if (redis_version | float) >= 3.0 %}
tcp-keepalive {{ redis_tcp_keepalive }}
{% endif %}
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}
syslog-enabled {{ redis_syslog_enabled }}
syslog-ident {{ redis_syslog_ident }}
syslog-facility {{ redis_syslog_facility }}
databases {{ redis_databases }}

################################ SNAPSHOTTING  #################################

{% if redis_save is defined %}
save {{ redis_save }}
{% endif %}
{% if (redis_version | float) >= 3.0 %}
stop-writes-on-bgsave-error {{ redis_stop_writes_on_bgsave_error }}
{% endif %}
rdbcompression {{ redis_rdbcompression }}
{% if (redis_version | float) >= 3.0 %}
rdbchecksum {{ redis_rdbchecksum }}
{% endif %}
dbfilename {{ redis_dbfilename }}
dir {{ redis_dir }}

################################# REPLICATION ##################################

{% if redis_slaveof is defined %}
slaveof {{ redis_slaveof }}
{% endif %}
{% if redis_masterauth is defined %}
masterauth {{ redis_masterauth }}
{% endif %}
{% if (redis_version | float) >= 3.0 %}
slave-serve-stale-data {{ redis_slave_serve_stale_data }}
{% endif %}
{% if (redis_version | float) >= 2.6 %}
slave-read-only {{ redis_slave_read_only }}
{% endif %}
{% if (redis_version | float) >= 3.0 %}
repl-diskless-sync {{ redis_repl_diskless_sync }}
repl-diskless-sync-delay {{ redis_repl_diskless_sync_delay }}
repl-disable-tcp-nodelay {{ redis_repl_disable_tcp_nodelay }}
{% if redis_repl_backlog_size is defined %}
repl-backlog-size {{ redis_repl_backlog_size }}
{% endif %}
{% if redis_repl_backlog_ttl is defined %}
repl-backlog-ttl {{ redis_repl_backlog_ttl }}
{% endif %}
slave-priority {{ redis_slave_priority }}
min-slaves-to-write {{ redis_min_slaves_to_write }}
min-slaves-max-lag {{ redis_min_slaves_max_lag }}
{% endif %}
{% if redis_repl_ping_slave_period is defined %}
repl-ping-slave-period {{ redis_repl_ping_slave_period }}
{% endif %}
{% if redis_repl_timeout is defined %}
repl-timeout {{ redis_repl_timeout }}
{% endif %}

################################## SECURITY ####################################

{% if redis_requirepass is defined %}
requirepass {{ redis_requirepass }}
{% endif %}
{% if redis_rename_command is defined %}
{% for item in redis_rename_command %}
rename_command: {{ item.command }} {{ item.rename }}
{% endfor %}
{% endif %}

################################### LIMITS #####################################

{% if redis_maxclients is defined %}
maxclients {{ redis_maxclients }}
{% endif %}
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
maxmemory-samples {{ redis_maxmemory_samples }}

############################## APPEND ONLY MODE ################################

appendonly {{ redis_appendonly }}
appendfilename {{ redis_appendfilename }}
appendfsync {{ redis_appendfsync }}
no-appendfsync-on-rewrite {{ redis_no_appendfsync_on_rewrite }}
auto-aof-rewrite-percentage {{ redis_auto_aof_rewrite_percentage }}
auto-aof-rewrite-min-size {{ redis_auto_aof_rewrite_min_size }}
{% if (redis_version | float) >= 3.0 %}
aof-load-truncated {{ redis_aof_load_truncated }}
{% endif %}

{% if (redis_version | float) >= 3.0 %}
################################ LUA SCRIPTING  ################################

lua-time-limit {{ redis_lua_time_limit }}
{% endif %}

{% if (redis_version | float) >= 3.0 %}
################################ REDIS CLUSTER  ################################

{% if redis_cluster_enabled is defined and (redis_cluster_enabled | bool) %}
cluster-enabled {{ redis_cluster_enabled }}
cluster-config-file {{ redis_cluster_config_file }}
cluster-node-timeout {{ redis_cluster_node_timeout }}
cluster-slave-validity-factor {{ redis_cluster_slave_validity_factor }}
cluster-migration-barrier {{ redis_cluster_migration_barrier }}
cluster-require-full-coverage {{ redis_cluster_require_full_coverage }}
{% endif %}
{% endif %}

################################## SLOW LOG ####################################

slowlog-log-slower-than {{ redis_slowlog_log_slower_than }}
slowlog-max-len {{ redis_slowlog_max_len }}

{% if (redis_version | float) >= 3.0 %}
################################ LATENCY MONITOR ###############################

latency-monitor-threshold {{ redis_latency_monitor_threshold }}
{% endif %}

{% if (redis_version | float) >= 3.0 %}
############################# EVENT NOTIFICATION ###############################
notify-keyspace-events "{{ redis_notify_keyspace_events }}"
{% endif %}

{% if (redis_version | float) <= 2.4 %}
################################ VIRTUAL MEMORY ################################

vm-enabled {{ redis_vm_enabled }}
{% if redis_vm_enabled | bool %}
vm-swap-file {{ redis_vm_swap_file }}
vm-max-memory {{ redis_vm_max_memory }}
vm-page-size {{ redis_vm_page_size }}
vm-pages {{ redis_vm_pages }}
vm-max-threads {{ redis_vm_max_threads }}
{% endif %}
{% endif %}

############################### ADVANCED CONFIG ################################

hash-max-zipmap-entries {{ redis_hash_max_zipmap_entries }}
hash-max-zipmap-value {{ redis_hash_max_zipmap_value }}
list-max-ziplist-entries {{ redis_list_max_ziplist_entries }}
list-max-ziplist-value {{ redis_list_max_ziplist_value }}
set-max-intset-entries {{ redis_set_max_intset_entries }}
zset-max-ziplist-entries {{ redis_zset_max_ziplist_entries }}
zset-max-ziplist-value {{ redis_zset_max_ziplist_value }}
{% if (redis_version | float) >= 3.0 %}
hll-sparse-max-bytes {{ redis_hll_sparse_max_bytes }}
{% endif %}
activerehashing {{ redis_activerehashing }}
{% if (redis_version | float) >= 3.0 %}
hz {{ redis_hz }}
{% for item in redis_client_output_buffer_limit %}
client-output-buffer-limit {{ item.class }} {{ item.limit }}
{% endfor %}
aof-rewrite-incremental-fsync {{ redis_aof_rewrite_incremental_fsync }}
{% endif %}
